div#google-directions{
	width:300px;
	padding:5px;
	background:#ccc;
	div.gmap-section{
			margin-top:5px;
			padding:5px;
			display:none;
			background:#efefef;
		&#controls{	
			margin-top:0;
			display:block;
			input.text{
				padding:5px;
				margin-right:5px;
			}
			a.get-directions{
				color:#fff;
				background:#ccc;
				padding:5px 7px;
				text-decoration:none;
				&:hover{
					background:#333;
				}
			}
		}
		&#map{
			height:300px;
		}
	}
}